<aside class="sidebar d-none d-lg-block">
  <button
    class="btn btn-danger btn-add-sidebar d-block"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    <i class="bi bi-plus-lg"></i>
    Agregar título
  </button>

  <div class="filter-group" id="filtro-categoria">
    <div class="sidebar-title">Mi Lista</div>
    <a href="" class="filter-option active" data-categoria="todos">
      <i class="bi bi-collection-play"></i>
      Todos
    </a>
    <a href="" class="filter-option" data-categoria="movie">
      <i class="bi bi-film"></i>
      Películas
    </a>
    <a href="" class="filter-option" data-categoria="serie">
      <i class="bi bi-tv"></i>
      Series
    </a>
  </div>

  <div class="filter-group" id="filtro-estado">
    <div class="sidebar-title">Estado</div>
    <a href="" class="filter-option" data-estado="todos">
      <i class="bi bi-list"></i>
      Todos
    </a>
    <a href="" class="filter-option" data-estado="pendiente">
      <i class="bi bi-clock"></i>
      Pendiente
    </a>
    <a href="" class="filter-option" data-estado="viendo">
      <i class="bi bi-play-circle"></i>
      Viendo
    </a>
    <a href="" class="filter-option" data-estado="visto">
      <i class="bi bi-check-circle"></i>
      Visto
    </a>
  </div>

  <div class="filter-group" id="filtro-genero">
    <div class="sidebar-title">Géneros</div>
    <a href="" class="filter-option" data-genero="accion">
      <i class="bi bi-tag"></i>
      Acción
    </a>
    <a href="" class="filter-option" data-genero="drama">
      <i class="bi bi-tag"></i>
      Drama
    </a>
    <a href="" class="filter-option" data-genero="comedia">
      <i class="bi bi-tag"></i>
      Comedia
    </a>
    <a href="" class="filter-option" data-genero="terror">
      <i class="bi bi-tag"></i>
      Terror
    </a>
  </div>
</aside>
